
Information from page 52. 
-- device-tree-compiler
   git
   make
   patch
   u-boot-tools or equivalent programs.

--CrossTool-NG toolchain generated in Chapter 1 for ZYNQ-7000 target boards
  MicroSD Card reader and card (Probably the embedded on Zynq and Pynq Hardware)

--USB to TTL 3.3V serial Cable 
--5v 1A power supply


